.dashboard {
    padding: 10px;
}

.root {
    width: 80%;
}

.details {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    width: 70%;
}

.cover {
    width: 46%;
}

#videoCard {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 69vh;
}

.chunkInfo {
    background-color: #e0e0e0;
}

.fileUploader {
    width: 500px
}

.projectId{
    font-size: large;
}
.processing{
    font-family: monospace;
    font-size: xx-large ;
    color: orange;
}
.done{
    font-family: monospace;
    font-size: xx-large;
    color: green;

}