.root {
    display: flex;
    margin: 10px;
}
.my-projects{
    margin-top: 50px;
    margin-left: 30px;
}
.details {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.cover {
    width: 46%;
}

#videoCard{
    overflow-y: scroll;
    overflow-x: hidden ;
    height: 80vh;
}
